[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

*Build*

# User-specific
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.dll

# Unity Cloud files
.projectsettings.asset
